{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'chat/style.css' %}">
    <title>Document</title>
</head>
<body>

    {% if request.user.is_authenticated %}
        <div class="container">
            <div class="flex">
                <h1>Hi <a href="{% url 'profile' request.user.username %}">{{ request.user }}</a></h1>
                <form method="post" action="{% url 'logout_user' %}">
                    {% csrf_token %}
                    <button type="submit" class="button-acc"><img class="acc" src="/media/images/exit.png" alt=""></button>
                </form>
            </div>
            
            
        </div>
    {% endif %}
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>
