{% extends 'chat/header_template.html' %}
{% block content %}



    <header>
        Чат с {{ other_user.username }}
        <a href="{% url 'profile' other_user.username %}">Посмотреть профиль</a>
    </header>
    <div class="container">
        <div class="chat-box" id="chat-log">
            {% for message in messages %}
                <div class="message {% if message.author == request.user %}self{% else %}other{% endif %}">
                    <strong>{{ message.author.username }}:</strong> {{ message.content }}
                    <p>{{message.timestamp}}</p>
                </div>
            {% empty %}
                <p>Сообщений пока нет.</p>
            {% endfor %}
        </div>

        <form class="send-message" id="send-message-form">
            <input id="message-input" type="text" placeholder="Type your message" style="width: 400px;">
        <button id="send-button">Отправить</button>
        </form>
    </div>

    <script>
        const private_id = "{{ chat.id }}";
        const username = "{{ request.user.username }}";
        const chatSocket = new WebSocket(
            "ws://" + window.location.host + "/ws/private/" + private_id + "/"
        );

        chatSocket.onopen = function(e) {
            console.log("WebSocket connection established");
        };

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const chatLog = document.getElementById("chat-log");
            const messageElement = document.createElement("p");
            messageElement.innerHTML = `<strong>${data.username}:</strong> ${data.message}`;
            chatLog.appendChild(messageElement);
            chatLog.scrollTop = chatLog.scrollHeight;
        };

        chatSocket.onclose = function(e) {
            console.log("WebSocket connection closed");
        };

        document.getElementById("send-button").onclick = function(e) {
            const messageInput = document.getElementById("message-input");
            const message = messageInput.value;

            if (message) {
                chatSocket.send(JSON.stringify({
                    "message": message,
                    "username": username  // берём из переменной выше
                }));
                messageInput.value = "";
            }
        };
    </script>
{% endblock %}
