{% extends 'chat/header_template.html' %}
{% block content %}

    <h1 class="title">Register</h1>

    <form method="POST" class="block-auth">
        {%csrf_token%}
        <p><label class="f-label" for="{{ form.username.id_for_label }}">{{form.username.label}}: </label>{{ form.username }}</p>
        <p><label class="f-label" for="{{ form.email.id_for_label }}">{{form.email.label}}: </label>{{ form.email }}</p>
        <p><label class="f-label" for="{{ form.password1.id_for_label }}">{{form.password1.label}}: </label>{{ form.password1 }}</p>
        <p><label class="f-label" for="{{ form.password2.id_for_label }}">{{form.password2.label}}: </label>{{ form.password2 }}</p>
        <div class="form__block-submit"><input type="submit" value="Save"></div>

    </form>
    <a href="{% url 'login_user' %}">Login</a>
{% endblock %}