{% extends 'chat/header_template.html' %}
{% block content %}

    <header>
        <div class="flex">
            {% if target_user.avatar.url != None %}
                <img src="{{ target_user.avatar.url }}" alt="Аватар {{ target_user.username }}" class="avatar">
                <!-- Если фото не грузится, проверь urls (должно прибавляться staitc ... и load static в шаблоне)-->
            {% endif %}
            <h1>{{target_user.username}}</h1>
        </div>
        
    </header>

    <div class="profile-card">
        <p>Имя: {{target_user.first_name}}</p>
        <p>Фамилия: {{ target_user.last_name}}</p>
        <p>День рождения: {{target_user.birthday|date:"d F Y"}}</p>
        <p>Обо мне: {{ target_user.about_user|linebreaksbr}}</p>

        {% if chat %}
            <a href="{% url 'private_chat' chat.id %}" class="button">Написать сообщение</a>
        {% endif %}

        
    </div>

{% endblock %}  


