# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/

# Virtual environment
venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env
.env.local

# Database migrations (можно раскомментировать если не хотите коммитить миграции)
# chat/migrations/

# macOS
.DS_Store